<%- include('./components/header') %>

    <div class="container">

        
            <img class="homepage-img" src="https://appkaar.com/wp-content/uploads/2020/08/appkaar-content-What-is-a-mobile-application.jpg"> 
       

        <div class="pageHead">
            <% if (user) { %>
                Welcome, <%= user.name %>
                    <% } %>
        </div>
        <div>
            <a href="/new/question" class="btn btn-primary class1">Add a question</a>
        </div>
        <br>

        <div class="row">

            <% questions.forEach(function(item) { %>
                <div class="col-sm-6 all-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><a class="class1" href="/question/<%=item.id%>">
                                    <%= item.question %>
                                </a></h3>
                            <p class="card-text">
                                <%= item.description %>
                            </p>
                            <div class=" create-date">
                            <p>Created By: <%=item.user.name %>
                                <br>
                                <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full', timeStyle: 'short' }).format(new Date(item.updatedAt)) %>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>



        </div>
    </div>

    <%- include('./components/footer') %>