<%- include('../components/header') %>

    <div class="container">
        <form method="POST" action="/signup">
            <h2>Sign up</h2>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" required />
                <% if (err && err.name){%>
                    <div class="error">
                        <p>
                            <%=err.name%>
                        </p>
                    </div>
                    <%}%>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" class="form-control" required />

                <% if (err && err.email){%>
                    <div class="error">
                        <p>
                            <%=err.email%>
                        </p>
                    </div>
                    <%}%>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required />
                <% if (err && err.password){%>
                    <div class="error">
                        <p>
                            <%=err.password%>
                        </p>
                    </div>
                    <%}%>
            </div>
            <div class="mb-3">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" name="repeatPassword" class="form-control" required />
                <% if (err && err.repeatPassword){%>
                    <div class="error">
                        <p>
                            <%=err.repeatPassword%>
                        </p>
                    </div>
                    <%}%>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <div>
            Existing user? Login <a href="/login" class="class1">here</a>
        </div>
    </div>
    <%- include('../components/footer') %>